@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255,255, 255;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.react-calendar{
  width: 100% !important;
  border: none !important;
  font-family: 'Inter', sans-serif !important;
}

.react-calendar__tile--active{
  background-color: #C3EBFA !important;
  color: black !important;
}


